﻿@model List<IT_WEB.Models.User_Model.UserModel>

@{
    ViewBag.Title = "User";
}

<div class="container">
    <div class="card">
        <div class="card-header" style="background: #2C3E50; ">
            <div class="m-2">
                <h1 class="text-white h2">User information</h1>
            </div>
        </div>
        <div class="card-body">
            <div class="justify-content-center">
                <form id="user_form">
                    @foreach (var ob_model in Model)
                    {
                        <div class="mb-3 row justify-content-center">
                            <div class="col-auto">
                                <label class="form-label">Name:</label>
                                <input type="text" class="form-control" id="name" name="name" value="@ob_model.Name">
                            </div>
                        </div>
                        <div class="mb-3 row justify-content-center">
                            <div class="col-auto">
                                <label class="form-label">Last name:</label>
                                <input type="text" class="form-control" id="last_name" name="last_name" value="@ob_model.Lastname">
                            </div>
                        </div>
                        <div class="mb-3 row justify-content-center">
                            <div class="col-auto">
                                <label class="form-label">Email:</label>
                                <input readonly type="email" class="form-control" id="email" name="email" value="@ob_model.Email">
                            </div>
                        </div>
                        <div class="mb-3 row justify-content-center">
                            <div class="col-auto">
                                <label class="form-label">Office:</label>
                                <input readonly type="email" class="form-control" id="office" name="office" value="@ob_model.Office">
                            </div>
                        </div>
                        <div class="mb-1 row justify-content-center">
                            <div class="col-auto">
                                <label class="form-label">Password:</label>
                                <input type="password" class="form-control" id="password" name="password" value="@ob_model.Password">
                            </div>
                        </div>
                    }
                    <div class="mb-3 row justify-content-center">
                        <div class="col-auto">
                            <label class="form-label">Show password</label>
                            <input class="form-check-input" type="checkbox" id="check_password" />
                        </div>
                    </div>
                    <div class="mb-3 row justify-content-center">
                        <div class="col-auto">
                            <a class="btn btn-outline-dark" onclick="update()">Update information</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    let updateURL = '@Url.Action("UpdateInformation", "User")';
</script>
@Scripts.Render("~/Scripts/Proyect JS Scripts/User/User.js")
